In [1]:
import pandas as pd

# Create a DataFrame from the sales_data csv file
df = pd.read_csv("https://raw.githubusercontent.com/datagy/data/main/data.csv")

In [2]:
# Calculating the standard deviation for an entire dataframe
print(df.std(numeric_only=True))

Units      9.471309
Sales    253.441362
dtype: float64

In [3]:
# Calculating skewness using .skew()
print(df.skew(numeric_only=True))

Units   -0.094342
Sales    0.635785
dtype: float64

In [6]:
# Using the Pandas .describe() method
display(df.describe())

            Units        Sales
count  911.000000  1000.000000
mean    19.638858   427.254000
std      9.471309   253.441362
min      3.000000    33.000000
25%     12.000000   224.000000
50%     20.000000   380.000000
75%     28.000000   575.000000
max     35.000000  1155.000000

In [7]:
# Getting Unique Values in the region Column
print(df['Region'].unique())

['East' 'North' 'South' 'West']

In [8]:
# Calculate total sales for each product type
total_sales = df.groupby('Type')['Sales'].sum()

# Print out the results
print("Total Sales by Type")
display(total_sales)

Total Sales by Type

Type
Children's Clothing    121907.0
Men's Clothing         129279.0
Women's Clothing       176068.0
Name: Sales, dtype: float64

In [11]:
# Creating Your First Crosstab
tab = pd.crosstab(
    index=df['Region'],
    columns=df['Type'],
)

display(tab)

Type    Children's Clothing  Men's Clothing  Women's Clothing
Region
East                    113             122               176
North                    85              89               142
South                    45              39                53
West                     42              41                53

In [13]:
# Aggregating Sales Using a Pandas Crosstab
tab = pd.crosstab(
    index=df['Region'],
    columns=df['Type'],
    values=df['Sales'],
    aggfunc='sum'
)

display(tab)

Type    Children's Clothing  Men's Clothing  Women's Clothing
Region
East                45849.0         51685.0           70229.0
North               37306.0         39975.0           61419.0
South               18570.0         18542.0           22203.0
West                20182.0         19077.0           22217.0