In [1]:
import pandas as pd


# Create a DataFrame from the sales_data csv file
df = pd.read_csv("sales_data.csv")

display(df)

           Date Region                 Type  Units   Sales
0    2020-07-11   East  Children's Clothing   18.0   306.0
1    2020-09-23  North  Children's Clothing   14.0   448.0
2    2020-04-02  South     Women's Clothing   17.0   425.0
3    2020-02-28   East  Children's Clothing   26.0   832.0
4    2020-03-19   West     Women's Clothing    3.0    33.0
..          ...    ...                  ...    ...     ...
995  2020-02-11   East  Children's Clothing   35.0   735.0
996  2020-12-25  North       Men's Clothing    NaN  1155.0
997  2020-08-31  South       Men's Clothing   13.0   208.0
998  2020-08-23  South     Women's Clothing   17.0   493.0
999  2020-08-17  North     Women's Clothing   25.0   300.0

[1000 rows x 5 columns]

In [2]:
#Get one column from data frame
print(df["Sales"])
print(df.Units)

0       306.0
1       448.0
2       425.0
3       832.0
4        33.0
        ...
995     735.0
996    1155.0
997     208.0
998     493.0
999     300.0
Name: Sales, Length: 1000, dtype: float64
0      18.0
1      14.0
2      17.0
3      26.0
4       3.0
       ...
995    35.0
996     NaN
997    13.0
998    17.0
999    25.0
Name: Units, Length: 1000, dtype: float64

In [3]:
# Get the value in one cell
print("Sales Row 995:", df["Sales"][995])

Sales Row 995: 735.0

In [4]:
#Get one row from the daaframe
print("Row 995")
print(df.loc[995])

Row 995
Date               2020-02-11
Region                   East
Type      Children's Clothing
Units                    35.0
Sales                   735.0
Name: 995, dtype: object

In [5]:
# Calculate the average for a single column
avg_sales = df['Sales'].mean()
print(avg_sales)

427.254

In [6]:
# Calculate the average for an entire dataframe
avg_df = df.mean(numeric_only=True)
print(avg_df)

print("Average of Sales:", avg_df["Sales"])

Units     19.638858
Sales    427.254000
dtype: float64
Average of Sales: 427.254